<h1>De Lijst</h1>
<p>De volledige goedgekeurde lijst van nummers waarop is gestemd, met het bijbehorende punten- en stemmenaantal</p>
<clr-datagrid>
    <clr-dg-column [clrDgField]="'index'" class="small-column">#</clr-dg-column>
    <clr-dg-column [clrDgField]="'title'">Titel</clr-dg-column>
    <clr-dg-column [clrDgField]="'artist'">Artiest</clr-dg-column>
    <clr-dg-column [clrDgField]="'points'" class="small-column">Punten</clr-dg-column>
    <clr-dg-column [clrDgField]="'votes'"class="small-column">Stemmen</clr-dg-column>

    <clr-dg-placeholder>Er zijn nog geen stemmen uitgebracht of goedgekeurd.</clr-dg-placeholder>

    <clr-dg-row *clrDgItems="let track of tracks$ | async" [class.track-60]="track.index == 60">
        <clr-dg-cell class="small-column">{{track.index + 1}}</clr-dg-cell>
        <clr-dg-cell>{{track.title}}</clr-dg-cell>
        <clr-dg-cell>{{track.artist}}</clr-dg-cell>
        <clr-dg-cell class="small-column">{{track.points}}</clr-dg-cell>
        <clr-dg-cell class="small-column">{{track.votes}}</clr-dg-cell>
    </clr-dg-row>
</clr-datagrid>
